.FeaturedMovie-container{
    padding-left: 5%;
    padding-right: 5%;
    
}

.FeaturedMovie{
    margin: 50px auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
   
}


.heading-1{
    margin-top: 50px;
   
}
