.FeaturedMovie-Container{
    padding-left: 5%;
    padding-right: 5%;
    /* 98px */
    
}

.FeaturedMovie{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
   gap: 50px;
}


.heading-1{
    margin-top: 50px;
   
}
